.env

node_modules
/client/node_modules
/server/node_modules
dist
build

.DS_Store
npm-debug.log
yarn-error.log
.vscode
.idea
*.log
coverage
*.tsbuildinfo
.env.local
.env.*.local
*.pem
*.key
*.crt
*.p12
*.jks
*.iml   
*.swp
*.swo
*.bak
*.orig
*.rej
*.class
*.war
*.jar
*.exe